$brown: #66595c;
$browntwo: #D19A66;
$red: #E06C75;
$redtwo: #F82649;
$bodyone: #282C34;
$bodytwo: #384A5D;
$textone: #D7DAE0;
$texttwo: #FEFEFE;
$green: #98C379;
$yellow: #E5C07B;
$gold: #AF8A5F;
$gray: #ABB2BF;

$fontOneLight: 'RobotoLight';
$fontOneRegular: 'RobotoRegular';
$fontOneMedium: 'RobotoMedium';
$fontOneBold: 'RobotoBold';

$fontTwoLight: 'FuturaPTLight';
$fontTwoBook: 'FuturaPTBook';
$fontTwoMedium: 'FuturaPTMedium';
$fontTwoDemi: 'FuturaPTDemi';
$fontTwoBold: 'FuturaPTBold';
$fontTwoExtraBold: 'FuturaPTExtraBold';